#my{
    zoom: 100%;
    }

.style-0 {
    cursor: auto;
}

.content {
    max-width: 60%;
    color: rgb(51, 51, 51);
    margin: 0px auto;
    padding-bottom: 100px;
    padding-top: 100px;
    font-family: Georgia, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}
.style-7 {
    font-size: 25px;
    line-height: 32.0px;
}

a {
    text-decoration: none;
    background: none;
    padding: 3px 2px;
    margin-left: 3px;
    margin-right: 2px;
    color: grey;
}

--grey_link: 

.a-alt-1 {
    background:#ff7ea6;

}

.a-alt-2 {
    background: #ffcd4f;
}

.a-alt-3 {
    background: #9eddb0ff;
}

.footer-text {
    display: inline;
    text-decoration: none;
    background: none;
    margin-right: 10px;
    font-family: Georgia, sans-serif;
    font-size: 27px;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
    /* color: rgb(51, 51, 51); */
    font-family: Georgia, sans-serif;
    font-size: 30px;

}

footer ul li {
    display: inline;
    margin-right: 10px;
    color: lightslategrey;
    font-family: Georgia, sans-serif;
    font-size: 20px;

}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.header-text {
    display: inline;
    text-decoration: none;
    background: none;
    margin-right: 10px;
    font-family: Georgia, sans-serif;
}
