body {
  margin: 0;
  font-family: Lato, serif;
  background-color: #FBFAF5;
  color: #2B2118;
}

br {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

h1,
h2,
h3 {
  font-family: Space Grotesk, serif;
}

.sub-text {
  font-family: Space Grotesk, serif;
  color: black;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #2E3532;
  position: fixed;
  color: white;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 100%;
}

.sidebar a.active {
  background-color: #A0AAB2;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #56494c;
  color: white;
}

div.content {
  margin-left: 210px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

* {
  box-sizing: border-box;
}

.article {
  width: 95%;
  margin: 15px;
  padding: 12px;
  background: rgba(245, 245, 245, 0.4);
  border-radius: 10px;
}

.content {
  padding: 0 20px;
}

/* ClearFix */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}


