
.style-0 {
    cursor: auto;
    background: rgb(247, 247, 247);

}

.content {
    max-width: 60%;
    color: rgb(51, 51, 51);
    margin: 0px auto;
    padding-bottom: 100px;
    padding-top: 100px;
    font-family: Georgia, sans-serif;
    box-sizing: border-box;
}


h1 {
    font-size: 45px;
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
}
.style-7 {
    font-size: 25px;
    line-height: 32.0px;
}

a {
    text-decoration: none;
    background: none;
    padding: 3px 2px;
    margin-left: 3px;
    margin-right: 2px;
    color: rgb(81, 81, 81);
}

.a-alt-1 {
    background:#ff7ea6;

}

.a-alt-2 {
    background: #ffcd4f;
}

.a-alt-3 {
    background: #9eddb0ff;
}

.footer-text {
    display: inline;
    text-decoration: none;
    background: none;
    margin-right: 10px;
    font-family: Georgia, sans-serif;
    font-size: 27px;
}

.supplement {
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 10px;
    /* color: rgb(51, 51, 51); */
    font-family: Georgia, sans-serif;
    font-size: 30px;

}

footer ul li {
    display: inline;
    margin-right: 10px;
    color: rgb(81, 81, 81);
    font-family: Georgia, sans-serif;
    font-size: 20px;

}

.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.header-text {
    display: inline;
    text-decoration: none;
    background: none;
    margin-right: 10px;
    font-family: Georgia, sans-serif;
}


/* columns */
.two-column-row {
    display: flex;
}

.column-1 {
    flex: 1; 
    padding: 5px; 
}

/* Style for the second column */
.column-2 {
    flex: 2; /* Take up twice space */
    padding: 5px; /* Add padding as needed */
    /* font-size: 20px; */
}

.python,.illustrator,.development,.data-analysis{
    font-size: 20px;
}

.python{
    background-color: #f48fb0;
    color: rgb(51, 51, 51);
    border-radius: 6px;
    font-family: Georgia, sans-serif;
    line-height: 40px;
    padding: 5px 5px;

}

.development{
    background-color: #93deae;
    color: rgb(51, 51, 51);
    border-radius: 6px;
    font-family: Georgia, sans-serif;
    line-height: 40px;
    padding: 5px 5px;

}

.data-analysis{
    background-color: #8fb6f4;
    color: rgb(51, 51, 51);
    border-radius: 6px;
    font-family: Georgia, sans-serif;
    line-height: 40px;
    padding: 5px 5px;

}
.illustrator{
    background-color: #f4ca8f;
    color: rgb(51, 51, 51);
    border-radius: 6px;
    font-family: Georgia, sans-serif;
    line-height: 40px;
    padding: 5px 5px;

}


.overlay {
    max-height: 0;
    overflow: hidden;
    font-size: 22px;
    transition: max-height 1.2s ease;
}

.container:hover .overlay {
    max-height: 100%; 
}

.container {
    display:inline-block;
    font-size: 22px;
    position: relative;
}

